#news
  header
    nav.show-for-768-up
      .grid(style="position: relative;")
        include ../nav/nav
    .ribbon
      .grid.content
        a(href="/") #[h1.appName Desafio da Ordem] 
        .download
          .text.show-for-768-up Disponível para 
            span( ng-style="ctrl.buttons['apple'] ? {'display':'none'} : ''") Android 
            span( ng-style="ctrl.buttons['apple'] || ctrl.buttons['android'] ? {'display':'none'} : ''") e 
            span( ng-style="ctrl.buttons['android'] ? {'display':'none'} : ''") iOS
          
          .google-play(ng-style="ctrl.buttons['apple'] ? {'display':'none'} : ''")
            a(href="https://goo.gl/uvUMMu"): button.ball
              i.icon-play
          .apple-store(ng-style="ctrl.buttons['android'] ? {'display':'none'} : ''")  
            a(href="https://goo.gl/Se2FcG"): button.ball
              i.icon-apple 
  main
    .grid.row
      .noticia.s-full.m-768-8
        .title
          h2 {{title}}
        .text(ng-bind-html="content")
        include ../share/share
        .comments.grid#disqus_thread
          script(type="text/javascript").
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */
            /*
            var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                
                s.src = '//desafiodaordem.disqus.com/embed.js';
                
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();    
          
      aside.m-768-4.show-for-768-up
        share(title="{{title}}").grid.s-full          
          a(ng-click="shareCtrl.click('facebook')"): .facebook
            i.fa.fa-facebook-square.fa-3x
          a(ng-click="shareCtrl.click('twitter')"): .twitter
            i.fa.fa-twitter.fa-3x
          span.action
            h3 Compartilhe    
        .mentoring
          a(href="https://www.facebook.com/mentorcoachingnogueira/") 
            include ../../images/coaching_nogueira.svg
          
    .articles
        include ../cards/cards
      .assistance
        include ../assistance/assistance     
    .contact.hide-for-768-up
      .grid.column.center
        include ../contact/contact

  include ../footer/footer  
      
    
          
      
