#news {
    header {
        nav {
            background: none;
            a:link {
                color: inherit;
            }
        }
    }
    header {
        .appName {
            text-align: left;
        }
        .ribbon {
            padding-top: 1rem;
            padding-bottom: 1rem;
            .content {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .download {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .text {
                    color: white;
                }
                button {
                    margin: 0;
                }
                &>* {
                    margin-left: 10px;
                }
            }
            .ball {
                $size: 2.5rem;
                width: $size;
                height: $size;
                border-radius: 50%;
                background: $c2;
                
                //centralizing content
                position: relative;
                &>* {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%)
                }
            }
        }
        nav {
            padding-top: 0.4*$hspace;
            padding-bottom: 0.4*$hspace;
            position: relative;
            color: $c1;
            width: 100% !important;
            .icons {
                display: table;
                font-size: 1.5rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                i {
                    float: right;
                    color: white;
                }
            }
            li {
                display: inline-block;
                &:not(:first-child) {
                    margin-left: 10px;
                }
            }
        }
    }
    .text {
        p:first-child {
            text-align: center;
        }
    }
    aside {
        padding-top: 6rem;
        share {
            display: flex;
            align-items: center;
            color: $c1;
            @media(max-width: 850px) {
                font-size: 0.75em;
            }
        }
        .coaching,
        .mentoring {
          
        }
    }
    @media(min-width: 768px) {
        .assistance {
            padding-bottom: 0;
        }
        .tip {
            background: white;
            color: $c1;
            svg {
                * {
                    fill: $c1 !important;
                }
            }
        }
    }
    .grid {
        padding: 0.312rem*2;
    }
    main {
        .title {
            h2 {
                padding-bottom: $hspace/3;
                color: $c1;
            }
            h3 {}
        }
        .text {
            p {
                padding-bottom: $hspace/2;
            }
        }
        .noticia {
            .title {
                padding-top: 2.5rem;
                padding-bottom: 1.75rem;
            }
            img {
                width: 100% !important;
                padding-bottom: 1rem;
            }
            .image {
                padding-right: 0;
            }
        }
        .image {
            padding-bottom: $hspace/2;
        }
        .articles {
            .grid {
                padding: 0;
            }
        }
        .social {
            padding: 0;
            text-align: center;
            color: white;
            font-size: 1.1rem;
            a {
                padding-right: 0;
                &>* {
                    padding: $hspace/4 0 $hspace/4;
                }
            }
            .facebook {
                background: $facebook;
            }
            .whatsapp {
                background: $whatsapp;
            }
            .google-plus {
                background: $google-plus;
            }
            .twitter {
                background: $twitter;
            }
        }
    }
    .assistance {
        padding-top: 0;
        .image {
            padding-bottom: 0;
        }
    }
}

.publisher-anchor-color a {
    color: $c1 !important;
}
