@import './grid/grid.scss';
@import './grid/custom-grid.scss';
@import 'variables';
@import './**/*.scss';
@import 'typography';

.lead{
  text-transform: uppercase;
}


* {
  font-family: roboto;
  box-sizing: border-box;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  cursor: pointer;

  &:link{
    text-decoration: none;
    color: inherit;
  }

  &:visited{
    color: inherit;  
  }
}


h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

body{
  margin: 0;
}

main, footer{
  &>*{
    padding-top: $hspace;
    padding-bottom: $hspace;
  }
}

q {
  quotes: "“" "”" "‘" "’";

  &:before {
    content: open-quote;
  }

  &:after {
      content: close-quote;
  }
}

img, svg, iframe{
  max-width:100%;
  height:auto;
  display: block;
}

iframe{
  width: 100%;
}

svg{
  padding: 0.3rem;
}

button{
  cursor:pointer;
  border-radius: 2rem;
  border:none;
  width:100%;
  text-align: center;
}

.download{ 

  button{
    margin-bottom: $hspace/2;
    height:3*$hspace;
    border:none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    background: $c2;
    color: $c1;
    font-size: 1rem;
    
    &+span{
      line-height: 2.8rem;
    }
  }
}

.appName{
  font-family: droid;
  color:$c2;
}

.motto{
  color:white;
}

.appName, .motto, .logo{
  text-align: center;  
}

.carrossel, .tip, footer, .ribbon{
  background: url('../images/pattern.png');
}

#mailchimp, #contact-page {
  position: relative;
  height: 100vh;

  .exit{
    position: absolute;
    right: 2rem;
    top: -0.7rem;
    font-size: 3rem;
    color: gray;

  }

  *{
    font-size: 1.1rem; 
  }


  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;


    @media(min-width: 570px){
      width: 50%;
    }

    max-width: 548px/16px * 1rem;
  }

  input, textarea {    
    width: 100%;
    border: 3px solid $c1;
    color: $c1;
    margin-bottom: 0.5rem;
    padding: 1rem;
  }

  textarea{
    height: 9.5rem;
  }

  button{
    padding:0.5rem;
    color:white;
    background: $c1;
    border-radius: 0; 
  }
}

button.more{
  background: $c1;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  color: white;
  text-transform: uppercase;
  font-size:1.1rem;
}