// s -> small, -380px -> breaking point, -2 -> two columns

@media(min-width: 380px){
	.s-380-4{
		width: 4/$columns * 100% !important;
	}	
}

@media(min-width: 410px){
	.s-410-4{
		width: 4/$columns * 100% !important;
	}
	.s-410-6{
		width: 6/$columns * 100% !important;
	}
	.s-410-8{
		width: 8/$columns * 100% !important;
	}	
}

@media(min-width: 570px){
	.hide-for-570-up{
		display: none;
	}

	.s-570-6{
		width: 6/$columns * 100% !important;
	}

	.s-570-3{
		width: 3/$columns * 100% !important;
	}

}


@media(min-width: 768px){
	.m-768-full{
		width: 100% !important;
	}

	.m-768-2{
		width: 2/$columns * 100% !important;
	}

	.m-768-3{
		width: 3/$columns * 100% !important;
	}

	.m-768-4{
		width: 4/$columns * 100% !important;
	}

	.m-768-5{
		width: 5/$columns * 100% !important;
	}


	.m-768-6{
		width: 6/$columns * 100% !important;
	}

	.m-768-7{
		width: 7/$columns * 100% !important;
	}

	.m-768-8{
		width: 8/$columns * 100% !important;
	}	
}

@media(max-width: 767px){
	.show-for-768-up{
		display: none;
	}

}

@media(min-width: 768px){
	.show-for-768-up{
		display: block;
	}
	.hide-for-768-up{
		display: none;
	}

}


@media(min-width: 960px){
	.l-960-4{
		width: 4/$columns * 100% !important;	
	}

	.l-960-2{
		width: 2/$columns * 100% !important;	
	}
}





@media(max-width: 569px){
	.show-for-570-up{
		display: none;
	}		
}

