#noticias
  header
    nav.grid.row(data-topbar role="navigation")
      h1.nome-aplicativo.s-9.columns Desafio da Ordem  
      ul.icons.s-3.columns
        li.round-icon
          i.icon-apple
main
    .noticia.row
      .titulo
        h3 Lorem ipsum dolor sit amet
        h4 Lorem ipsum dolor.
      .imagem
        img(src="#{imageFolder}/paisagem-2.jpg")
      .texto
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, modi! Impedit, eius suscipit vero animi vel voluptate sint illo doloremque atque dolor, dignissimos modi ipsa consequuntur. Cupiditate sunt, nisi vel qui, itaque, at suscipit doloribus enim quas minus deserunt veniam molestiae rem quam omnis repellat. Voluptatibus doloribus maiores recusandae consectetur!
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, temporibus obcaecati magnam, illo laborum odit ipsum rem ipsa a, veniam dolorum iste. Dolores, aliquam cum, expedita nam voluptas doloribus voluptatem ea quo praesentium vitae molestiae. Eos numquam in ipsum ut? Nulla, ex sit nam porro.              
    .social.grid.row
      .facebook.s-3
        i.fa.fa-facebook
      .twitter.s-3
        i.fa.fa-twitter
      .whatsapp.s-3
        i.fa.fa-whatsapp
      .google-plus.s-3
        i.fa.fa-google-plus
    .comentarios
      .novos-comentarios
        h3.header Insira seu comentário
        textarea
        button.enviar Enviar
      .antigos-comentarios
        .comentario.
          .imagem.s-3.column(style="height:60px; background:#333")
            //- img
          .texto.s-9.column
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo eaque aliquid alias nesciunt ex, error dolor nobis, aspernatur ipsum quis voluptatibus magnam doloremque exercitationem numquam.  
  
          
      
