#principal{
  header{
    background: url('../images/pattern.png');
    text-align: center;
    position: relative;
    z-index: 0;
    overflow: hidden;

    nav{
      padding-top: $hspace;

      a:link, a:visited{
        color: white !important;
      }

      ul{
        li{
          display: inline-block;
          color:white;  
          &:not(:first-child){
            padding-left: 0.8*$hspace;
          }
        }
      }
      padding-left: 1.25*$hspace;
      padding-right: 1.25*$hspace;
    }

    .download{
      display: flex;
      justify-content: center;
      
      @media(max-width: 768px){
        a{
          display: block;          
        }
        button:first-child{
          margin-bottom: 1rem;
        }
               
      }

      @media(min-width: 768px){
        &.show-for-768-up{
          display: flex;
          justify-content: center;
        } 
      }

    }

    



    .guy{
      position: absolute;
      width: 70%;
      top:-43%;
      left: 9%;
      z-index: -1;

      img{
        position: relative;
       
      }
    }    


    & > .grid{
      padding-top: 2*$hspace;

      &>*{
        padding-bottom: $hspace;
        margin-top: 0;
      }
      

      button{
        margin-bottom: 0;
        


        @media (min-width: 768px){
          color: white;
        }

        @media (min-width: 48rem){
          background: none;
          border: 3px solid $c2;
        }
      }


    }
  }
}
