.cards {
  margin-bottom: 0 !important;
  .card {
    .title {
      padding-left: map-get($gutter, small)
    }
  }
  categories {
    display: flex;
    color: $c1;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: $hspace;
    .category {
      text-transform: uppercase;
      &:not(:last-child) {
        margin-right: map-get($gutter, small); 
      }
    }
    &>* {
      margin-top: 10px;
      padding: 0.4rem;
      border-radius: 1.5rem;
      border: 1px solid $c1;
      border-radius: 1.5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  input.search {
    border: 2px solid $c1;
    margin-top: $hspace;
    height: 2*$hspace;
    width: 100%;
    padding-left: $hspace;
    background: $articles;
    &:focus {
      border-width: 3px;
    }
    &:before {
      content: "\f002";
      font-family: 'Font Awesome';
    }
    &::placeholder {
      color: $c1;
      text-transform: uppercase;
      background: none;
    }
  }
  .cards {
    margin-top: $hspace;
    color: $c1;
    .card {
      margin-bottom: $hspace;
      color: $c1;
      background-color: white;
      
      .article-info {
        padding-top: $hspace;
        text-align: left;
      }
    }
    // .footer {
    //   padding: 1rem;
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;
    //   color: $c1;

    //   share {
    //     display: flex;
    //     .facebook,.twittter {
    //       background: none;
    //       color: $c1;
    //       // display: flex;
    //     }
    //   }

    //   span {
    //     font-family: boldRoboto;
    //   }
    //   i {
    //     font-size: 1.5rem;
    //     margin-left: 0.777rem;
    //   }
    // }
  }
}

.selected {
  color: white;
  background: $c1;
  border: 1px solid $c1;
}

picture-frame {
  height: 6*$hspace;
  overflow: hidden;
  img {
    position: relative;
    max-width: none;
  }
}

.articles {
  background: $articles;
}
