masonry{
	display: block;

	&:after {
	    content:'';
	    display:block;
	    clear: both;
	}

	

	&.grid{

		@media(min-width: 768px){
			padding: 0;
		}

		&>*{
			padding-right: 0 !important;
		}
	}

	.item{
		margin-bottom: $hspace;
	}

	.gutter{
		width:2%;
	}

	.editorial{
		@media(min-width: 570px){
			width:100% !important;				
		}
		@media(min-width:960px){
			width:(2/3*100%)-0.333% !important;
		}
	}

	.grid-sizer, .item{

		border-radius: 0.3rem;
		background: white;
		padding: $hspace 0 $hspace;
		margin-bottom: $hspace;
		color: $c1;

		.title,.footer{
			padding: $hspace*0.8;
		}

		.footer{
			position: relative;

			span.date{
				position: absolute;
				top:50%;
				transform: translateY(-50%);
			}

			span.social{
				float: right;
				i{
					margin-left: $hspace/2;
					font-size:1.5rem;
				}				
			}

			&::after{
					display: block;
					content: '';
					clear: both;
				} 
		}

		@media(min-width: 570px){
			width:((100-2)/2)*1%;				
		}

		@media(min-width:960px){
			width:((100-4)/3)*1%;
		}

	}

	share {
	    display: flex;

	    .facebook,.twitter {
	      background: none !important;
	      color: $c1 !important;
	    }
    }

	
}
