
<div ng-controller="CardsController" class="cards">
  <div class="grid column center"> 
    <categories class="s-10"><span ng-repeat="category in categories" ng-class="selectedCategories[category.id] ? 'selected' : ''" ng-click="click(category.id); search('category',selectedCategories)" class="category">{{category.name}}  </span>
      <input placeholder="Buscar" ng-model="expression" ng-change="search('expression', expression);" class="search"/>
    </categories>
    <div class="cards">   
      <div ng-repeat="post in posts" class="card grid row">
        <picture-frame class="s-4"><img ng-if="images[post.id]" ng-src="{{images[post.id]}}"/></picture-frame>
        <div class="s-8 article-info">  
          <h4 class="title">{{post.title.rendered}}  </h4>
        </div>
      </div>
    </div>
  </div>
</div>

