#principal{
  header{
    padding: 3*$hsmall 0 2*$hsmall;
    @media #{$medium-up} {
      padding: $hsmall 0;
    }

    nav{
      $margin: 0.8rem;

      li{
        color:white;
      }


      .social{
        li{
          float: left;
          margin-right:$margin;
        }
      }

      .paginas{
        li{
          float: right;
          margin-left:$margin;
        }
      }
    }

    .aplicativo{

      @media #{$medium-up} {
        margin-top: 3*$hlarge;
      }

      h1, h3{
        text-align:center;
      }

      .nome-aplicativo {
        font-family: droid;
        color:$c2;
        text-align: center;
        @media #{$small-only}{
          font-size:1.4em;
        }
      }

      .mote{
        color:white;
        @media #{$medium-up}{
          margin-top:0;
        }

      }


      .logo{
        margin-bottom: $hsmall;
        @media #{$medium-up}{
          margin-bottom: 0;
        }

      }
      .botoes{
        margin-top: $hlarge;
        margin-bottom: 3*$hlarge;

        @media #{$medium-up} {
          margin: 0.5*$hlarge 0 $hlarge;


          &>*{
            margin: 0 auto;
            display: flex;
            justify-content: center;
          }

        }

        button{
          color: white;
          border:3px solid $c2;
          font-family: boldRoboto;

          @media #{$small-only} {
            font-size:0.7em;
            position: relative;
            :first-child{
              left:-5px;
            }

            :last-child{
              left:5px;
            }

          }

          @media #{$medium-up} {
            width: 9rem;
            float:none;
            &.apple-store{
              i{
                position: relative;
                bottom:1px;
              }
            }
          }

        }
      }
    }
  }

}
