path.ytp-large-play-button-bg{
        fill: $c1 !important;
      }

#principal{
  main {
    .apresentacao {
      padding:0;

      @media #{$medium-up} {
        padding-top: 2*$hlarge;
        padding-bottom: 2*$hlarge;
        h3{
          margin-top: -0.3rem;
        }
      }

      .video {
        position: relative;
        background: black;
        height: 225px;

        @media #{$medium-up} {
          height: 11*$hlarge;
        }

        .play {
          z-index: 1;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: $c1;
          position: absolute;
        }
      }
    }

    .carrossel{
      display:flex;
      align-items: center;
      background: $c1;
      color:white;
      padding-top: 2*$hlarge;
      padding-bottom: 2*$hlarge;


      p{
        font-family: boldRoboto;
        margin: 0;

        span{
          text-transform: uppercase;
          font-family: inherit;
        }
      }
    }

    .download{

      display:flex;
      color: $c1;

      .imagem{
        position: relative;
        top:-$hlarge;
      }
      .texto{
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
      }
    }

  }
}
