#principal
  header
    nav.row.hide-for-small-only
      ul.social.medium-5.columns
        li.lead.facebook
          i.fa.fa-facebook
        li.lead.instagram
          i.fa.fa-twitter
      ul.paginas.medium-7.columns
        li.lead Cadastro
        li.lead Artigos
        li.lead Contatos
    .aplicativo.row
      .small-8.small-offset-2.medium-12.medium-offset-0.columns
        .row        
          .logo.small-6.small-offset-3.medium-2.medium-offset-5.columns
            img(src="#{imageFolder}/logo.png")
        .row    
          .small-12.columns
            h2.nome-aplicativo Desafio da Ordem  
            h3.mote Encare esse desafio!
        .row
          .botoes.small-12.columns
            .row
              button.google-play.small-6.columns 
                i.icon-play
                span Google Play
              button.apple-store.small-6.columns
                i.icon-apple
                span Apple Store           
  main  
    .apresentacao.row
      .video.small-12.medium-7.columns.hide-for-medium-up
        button.play(onclick="play()")
          i.fa.fa-play.fa-3x     
      .descricao-video.medium-5.columns.hide-for-small-only
        h3 Breve histórico do cliente
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur quas vitae deserunt inventore quam pariatur ipsam eaque exercitationem nostrum molestias, tempora. Repellendus perferendis numquam, vitae placeat doloremque id, atque.
    .carrossel.row      
        img.small-6.columns(src="#{imageFolder}/carrossel-1.svg") 
        p.texto.small-6.columns.lead.
          #[span Desafie] amigos ou outros jogadores para um embate de perguntas e respostas             
    .download.row
      .texto.small-6.columns
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, in, molestiae! Molestias, ad, nulla. Illum.
        .botoes
          button.apple-store
            i.icon-apple
            span Apple Store
            button.google-play
              i.icon-play
              span Google Play
      .imagem.small-6.columns
              img(src="#{imageFolder}/dispositivos.png")  
    include ../secoes-comuns/main/main.jade
  include ../secoes-comuns/footer/footer.jade
