footer.row
  .aplicativo.small-6.medium-4.columns
    .content    
      .row
        .logo.small-6.columns.small-offset-3.medium-4.medium-offset-4
          img(src="#{imageFolder}/logo.png")
      .row
        .small-12.columns
          h4.nome-aplicativo Desafio da Ordem
          h5.mote Encare esse desafio!
      .row
        .botoes.small-12.columns
          button.google-play.small-6.columns 
            i.icon-play
            span Google Play
          button.apple-store.small-6.columns 
            i.icon-apple
            span Apple Store
  .institucional.small-6.medium-4.columns  
    .show-for-small-only
      .facebook
        i.fa.fa-facebook-square.fa-2x
        a(href="http://facebook.com")  facebook
      .instagram
        i.fa.fa-instagram.fa-2x
        a(href="http://facebook.com")  instagram
      .twitter
        i.fa.fa-twitter.fa-2x
        a(href="http://facebook.com")  twitter
    .show-for-medium-up
      ul.contatos
        li.telefone
          i.fa.fa-phone
          span (21) 000-0000         
        li.facebook
          i.fa.fa-facebook-square
          span facebook/desafio-da-ordem
        li.twitter
          i.fa.fa-twitter
          span @desafio-da-ordem
        li.email
          i.fa.fa-envelope
          span atendimento@desafiordem.com
      .mensagem
        p: q Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, eum.
          
  .contato.medium-4.columns.hide-for-small-only              
    include ../../contato/contato.jade
