#success{
	
	height: 100vh;
	background: $c1;
	display:flex;
	align-items: center;

	.grid{			
		color:white;
		text-align: center;
		margin: 0 auto;
		.retornar{
			margin-top: $hspace;
			a{
				font-family: boldRoboto;
				color:$c2;
				text-decoration: none;

			}
		}

	}
}