@import '../vendors/foundation-sites/scss/foundation';
@import './**/*.scss';
* {
  font-family: regularRoboto;
  box-sizing: border-box;
}

q {
  quotes: "“" "”" "‘" "’";

  &:before {
    content: open-quote;
  }

  &:after {
      content: close-quote;
  }
}

.botoes{
  button{
    height: 2.5*$hsmall;
    border-radius: $button-border-radius;

    @media #{$medium-up} {
      border: 1px solid $c1;
      padding-left: 0.7rem;
      padding-right: 0.7rem;

      &:last-child{
        margin-left: 0.77rem;
      }
    }
  }
}




ul {
  list-style: none;
}
header {
  background: $c1;
}
img {
  width: 100%;
  height: auto;
}
.hide {
  display: none;
}
video {
  width: 100%;
  height: auto;
}
img {
  width: 100%;
  height: auto;
}
ul {
  margin: 0;
}

.contato{

  border-top:2px solid $c1;

  @media #{$small-only} {
    padding-top: $hsmall;
  }



  input, textarea{
    padding:0;
    padding-left:1em;
    margin-bottom:$hsmall;
    height:2*$hsmall;
    background: white;
    border-radius: 5px;
    border:1px solid $c1;
    width:100%;
    color:$c1;
    &:focus{
      border:2px solid $c1;
    }

    @media #{$medium-up} {
      border-color: white;
    }
  }

  input[type="submit"]{
    height:2.5*$hsmall;
    background:$c1;
    color:white;
    font-family: boldRoboto;

    @media #{$medium-up} {
      float:right;
      width:40%;
      background: white;
      color:$c1;
      text-align: center;
      padding:0;
      font-family: regularRoboto;
      height:1.1*$hlarge;
      border-radius: 1.25rem;
    }
  }

  textarea{
    padding-top: 0.5em;
    resize:none;
    height: 6*$hsmall;
  }

  ::placeholder {
     color: $c1;
     text-transform: uppercase;
  }
}
