.tip
  .hide-for-768-up.grid.column.center
    .image
      include ../../images/acropole.svg
    //- the class random-tip will activate the mechanism of random message by angular. 
    p.random-tip 
  .show-for-768-up
    .acropole.grid.row
      .image
        include ../../images/acropole.svg
      h3.random-tip  
.coaching.hide-for-768-up       
  .grid.column.center
    .image
      include ../../images/balanca.svg
    h3.lead Coaching  
    p.s-10  Descubra o seu potencial e alcance objetivos com profissionais experientes    
.mentoring.hide-for-768-up       
  .grid.column.center
    .image
      include ../../images/malhete.svg
    h3.lead Mentoring  
    p.s-10 Saiba desde o início da carreira a conquistar seu espaço
  .grid.center
    a(href="https://goo.gl/5baw4d") #[button.more.s-10 Saiba Mais]
