.assistance{
  padding-bottom: 0;
  padding-top: 0;

  .acropole, .image{
    display: flex;
    align-items: center;
    justify-content: center;
  }



  &>*{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .tip {
    text-align: center;
    color: white;
    line-height: 2*$hspace;
    p {
      font-family: boldRoboto;
      font-size: 1.5rem;
      margin-top: 0.5rem;
    }
    

    
  }



    .coaching, .mentoring{
      color:$c1;
      line-height: 2*$hspace;
      text-align: center;
    }

    @media(min-width: 570px){
      .mentoring{
        padding-top: 0.5*$hspace;
      }
      .coaching, .mentoring{
        p{
          padding-top: 0.25*$hspace;
        }
      }
    }



}

