//Image folder
$imageFolder: '../imagens';

//Cores
$c1:#00AFF0;
$c2:#FACD69;
$c3:#00D2FA;
$facebook:#3C5899;
$twitter:#00B5F0;
$instagram:#895A4D;
$google-plus:#DC4A3D;
$whatsapp:#14AA0C;
$articles:#D3DBDD;

//botoes
$button-border-radius:20px;









