@charset "UTF-8";
* {
  box-sizing: border-box; }

.grid {
  max-width: 62.5rem;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .grid {
      padding: 1.25rem; } }
  .grid .grid {
    padding: 0; }
  .grid > *:not(:last-child) {
    padding-right: 0.31812rem; }
    @media (min-width: 768px) {
      .grid > *:not(:last-child) {
        padding-right: 1.25rem; } }

.center > * {
  margin-left: auto;
  margin-right: auto; }

r
.column {
  float: none !important; }

.row:after {
  content: '';
  display: block;
  clear: both; }

.row > * {
  float: left; }
  .row > *:last-child:not(:first-child) {
    float: right; }

.s-full {
  width: 100%;
  margin-bottom: 1rem; }

.s-2 {
  width: 16.66667%; }

.s-3 {
  width: 25%; }

.s-4 {
  width: 33.33333%; }

.s-5 {
  width: 41.66667%; }

.s-6 {
  width: 50%; }

.s-7 {
  width: 58.33333%; }

.s-8 {
  width: 66.66667%; }

.s-9 {
  width: 75%; }

.s-10 {
  width: 83.33333%; }

@media (max-height: 48rem) {
  .show-for-medium-up {
    display: none; } }

@media (min-width: 48rem) {
  .show-for-medium-up {
    display: block; }
  .m-full {
    width: 100%;
    margin-bottom: 1rem; }
  .m-2 {
    width: 16.66667%; }
  .m-3 {
    width: 25%; }
  .m-4 {
    width: 33.33333%; }
  .m-5 {
    width: 41.66667%; }
  .m-6 {
    width: 50%; }
  .m-7 {
    width: 58.33333%; }
  .m-8 {
    width: 66.66667%; }
  .m-9 {
    width: 75%; }
  .m-10 {
    width: 83.33333%; } }

/* Large screens */
@media (min-width: 60rem) {
  .l-full {
    width: 100%;
    margin-bottom: 1rem; }
  .l-2 {
    width: 16.66667%; }
  .l-3 {
    width: 25%; }
  .l-4 {
    width: 33.33333%; }
  .l-5 {
    width: 41.66667%; }
  .l-6 {
    width: 50%; }
  .l-7 {
    width: 58.33333%; }
  .l-8 {
    width: 66.66667%; }
  .l-9 {
    width: 75%; }
  .l-10 {
    width: 83.33333%; } }

@media (min-width: 380px) {
  .s-380-4 {
    width: 33.33333% !important; } }

@media (min-width: 410px) {
  .s-410-4 {
    width: 33.33333% !important; }
  .s-410-6 {
    width: 50% !important; }
  .s-410-8 {
    width: 66.66667% !important; } }

@media (min-width: 570px) {
  .hide-for-570-up {
    display: none; }
  .s-570-6 {
    width: 50% !important; }
  .s-570-3 {
    width: 25% !important; } }

@media (min-width: 768px) {
  .m-768-full {
    width: 100% !important; }
  .m-768-2 {
    width: 16.66667% !important; }
  .m-768-3 {
    width: 25% !important; }
  .m-768-4 {
    width: 33.33333% !important; }
  .m-768-5 {
    width: 41.66667% !important; }
  .m-768-6 {
    width: 50% !important; }
  .m-768-7 {
    width: 58.33333% !important; }
  .m-768-8 {
    width: 66.66667% !important; } }

@media (max-width: 767px) {
  .show-for-768-up {
    display: none; } }

@media (min-width: 768px) {
  .show-for-768-up {
    display: block; }
  .hide-for-768-up {
    display: none; } }

@media (min-width: 960px) {
  .l-960-4 {
    width: 33.33333% !important; }
  .l-960-2 {
    width: 16.66667% !important; } }

@media (max-width: 569px) {
  .show-for-570-up {
    display: none; } }

h1 {
  font-size: 1.618rem;
  font-family: droid; }

h3, p {
  font-size: 1rem; }

h3 {
  font-family: boldRoboto; }

.small-font {
  font-size: 0.618rem; }

@media (min-width: 410px) {
  html {
    font-size: 1rem; }
  body {
    line-height: 1.45; }
  p {
    margin-bottom: 1.3rem; }
  h1, h2, h3, h4 {
    margin: 1.414rem 0 0.5rem;
    font-weight: inherit;
    line-height: 1.2; }
  h1 {
    margin-top: 0;
    font-size: 2.441rem; }
  h2 {
    font-size: 1.953rem; }
  h3 {
    font-size: 1.563rem; }
  h4 {
    font-size: 1.25rem; }
  .lead {
    font-size: 1.25rem; }
  .small-font, .font_small {
    font-size: 0.8rem; } }

@font-face {
  font-family: 'droid';
  src: url("../typography/fonts/droid-serif/DroidSerif.eot");
  /* IE9 Compat Modes */
  src: url("../typography/fonts/droid-serif/DroidSerif.eot?#iefix") format("embedded-opentype"), url("../typography/fonts/droid-serif/DroidSerif.woff2") format("woff2"), url("../typography/fonts/droid-serif/DroidSerif.woff") format("woff"), url("../typography/fonts/droid-serif/DroidSerif.ttf") format("truetype"), url("../typography/fonts/droid-serif/DroidSerif.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'boldRoboto';
  src: url("../typography/fonts/roboto-bold/Roboto-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../typography/fonts/roboto-bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../typography/fonts/roboto-bold/Roboto-Bold.woff2") format("woff2"), url("../typography/fonts/roboto-bold/Roboto-Bold.woff") format("woff"), url("../typography/fonts/roboto-bold/Roboto-Bold.ttf") format("truetype"), url("../typography/fonts/roboto-bold/Roboto-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'roboto';
  src: url("../typography/fonts/roboto-regular/Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../typography/fonts/roboto-regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../typography/fonts/roboto-regular/Roboto-Regular.woff2") format("woff2"), url("../typography/fonts/roboto-regular/Roboto-Regular.woff") format("woff"), url("../typography/fonts/roboto-regular/Roboto-Regular.ttf") format("truetype"), url("../typography/fonts/roboto-regular/Roboto-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

.assistance {
  padding-bottom: 0;
  padding-top: 0; }
  .assistance .acropole, .assistance .image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .assistance > * {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .assistance .tip {
    text-align: center;
    color: white;
    line-height: 2rem; }
    .assistance .tip p {
      font-family: boldRoboto;
      font-size: 1.5rem;
      margin-top: 0.5rem; }
  .assistance .coaching, .assistance .mentoring {
    color: #00AFF0;
    line-height: 2rem;
    text-align: center; }
  @media (min-width: 570px) {
    .assistance .mentoring {
      padding-top: 0.5rem; }
    .assistance .coaching p, .assistance .mentoring p {
      padding-top: 0.25rem; } }

.cards {
  margin-bottom: 0 !important; }
  .cards .card .title {
    padding-left: 0.31812rem; }
  .cards categories {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #00AFF0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-bottom: 1rem; }
    .cards categories .category {
      text-transform: uppercase; }
      .cards categories .category:not(:last-child) {
        margin-right: 0.31812rem; }
    .cards categories > * {
      margin-top: 10px;
      padding: 0.4rem;
      border-radius: 1.5rem;
      border: 1px solid #00AFF0;
      border-radius: 1.5rem; }
      .cards categories > *:hover {
        cursor: pointer; }
  .cards input.search {
    border: 2px solid #00AFF0;
    margin-top: 1rem;
    height: 2rem;
    width: 100%;
    padding-left: 1rem;
    background: #D3DBDD; }
    .cards input.search:focus {
      border-width: 3px; }
    .cards input.search:before {
      content: "\f002";
      font-family: 'Font Awesome'; }
    .cards input.search::-webkit-input-placeholder {
      color: #00AFF0;
      text-transform: uppercase;
      background: none; }
    .cards input.search::-moz-placeholder {
      color: #00AFF0;
      text-transform: uppercase;
      background: none; }
    .cards input.search:-ms-input-placeholder {
      color: #00AFF0;
      text-transform: uppercase;
      background: none; }
    .cards input.search::placeholder {
      color: #00AFF0;
      text-transform: uppercase;
      background: none; }
  .cards .cards {
    margin-top: 1rem;
    color: #00AFF0; }
    .cards .cards .card {
      margin-bottom: 1rem;
      color: #00AFF0;
      background-color: white; }
      .cards .cards .card .article-info {
        padding-top: 1rem;
        text-align: left; }

.selected {
  color: white;
  background: #00AFF0;
  border: 1px solid #00AFF0; }

picture-frame {
  height: 6rem;
  overflow: hidden; }
  picture-frame img {
    position: relative;
    max-width: none; }

.articles {
  background: #D3DBDD; }

masonry {
  display: block; }
  masonry:after {
    content: '';
    display: block;
    clear: both; }
  @media (min-width: 768px) {
    masonry.grid {
      padding: 0; } }
  masonry.grid > * {
    padding-right: 0 !important; }
  masonry .item {
    margin-bottom: 1rem; }
  masonry .gutter {
    width: 2%; }
  @media (min-width: 570px) {
    masonry .editorial {
      width: 100% !important; } }
  @media (min-width: 960px) {
    masonry .editorial {
      width: 66.33367% !important; } }
  masonry .grid-sizer, masonry .item {
    border-radius: 0.3rem;
    background: white;
    padding: 1rem 0 1rem;
    margin-bottom: 1rem;
    color: #00AFF0; }
    masonry .grid-sizer .title, masonry .grid-sizer .footer, masonry .item .title, masonry .item .footer {
      padding: 0.8rem; }
    masonry .grid-sizer .footer, masonry .item .footer {
      position: relative; }
      masonry .grid-sizer .footer span.date, masonry .item .footer span.date {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      masonry .grid-sizer .footer span.social, masonry .item .footer span.social {
        float: right; }
        masonry .grid-sizer .footer span.social i, masonry .item .footer span.social i {
          margin-left: 0.5rem;
          font-size: 1.5rem; }
      masonry .grid-sizer .footer::after, masonry .item .footer::after {
        display: block;
        content: '';
        clear: both; }
    @media (min-width: 570px) {
      masonry .grid-sizer, masonry .item {
        width: 49%; } }
    @media (min-width: 960px) {
      masonry .grid-sizer, masonry .item {
        width: 32%; } }
  masonry share {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    masonry share .facebook, masonry share .twitter {
      background: none !important;
      color: #00AFF0 !important; }

picture-frame {
  display: block;
  height: 6rem; }

form {
  width: 100%; }
  form:after {
    content: '';
    display: block;
    clear: both; }
  form ::-webkit-input-placeholder {
    color: #00AFF0; }
  form ::-moz-placeholder {
    color: #00AFF0; }
  form :-ms-input-placeholder {
    color: #00AFF0; }
  form ::placeholder {
    color: #00AFF0; }
  form input, form textarea {
    width: 100%;
    margin-bottom: 1rem;
    border: none;
    height: 2rem;
    padding-left: 0.5rem; }
  form textarea {
    padding-top: 0.5rem;
    height: 8rem;
    resize: none; }
  form .submit {
    float: right; }
    form .submit button[type="submit"] {
      background: #00AFF0;
      color: white;
      font-family: boldRoboto;
      padding: 0.35rem;
      border-radius: 0; }
  @media (min-width: 768px) {
    form textarea {
      height: 6rem; }
    form .submit button[type="submit"] {
      width: 25%;
      background: white;
      color: #00AFF0;
      width: 100%; } }

@media (max-width: 768px) {
  .contact {
    background: #D3DBDD; } }

footer {
  color: white;
  background: #00AFF0;
  padding-bottom: 2rem;
  position: relative; }
  footer a:link {
    color: white; }
  @media (min-width: 570px) {
    footer {
      padding-bottom: 1rem; } }
  footer .contato {
    padding-bottom: 0; }
  footer ul {
    line-height: 2rem; }
    footer ul li > i {
      margin-right: 0.31812rem; }
  footer .download {
    padding-bottom: 0; }
    footer .download a {
      display: block; }
      footer .download a:first-child {
        margin-bottom: 0.5rem; }
    footer .download .store {
      position: relative; }
      footer .download .store .invitation {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      footer .download .store button {
        margin-bottom: 0 !important; }
        footer .download .store button + span {
          display: table; }
    footer .download > .grid:last-child {
      margin-top: 1rem; }
  footer .show-for-570-up {
    position: relative; }
    footer .show-for-570-up .appName, footer .show-for-570-up .motto, footer .show-for-570-up .logo {
      padding-bottom: 0.25rem; }
    footer .show-for-570-up button {
      margin-top: 0.5rem !important; }
  @media (min-width: 768px) {
    footer {
      padding-bottom: 0; }
      footer .show-for-768-up > * {
        position: relative; }
      footer .show-for-768-up form {
        width: 100%; }
      footer .logo img {
        margin-bottom: 0.5rem; }
      footer .logo > * {
        padding-right: 0 !important; }
      footer .logo .motto {
        padding-bottom: 0.4rem; } }

@media (min-width: 380px) {
  .s-380-4 {
    width: 33.33333% !important; } }

@media (min-width: 410px) {
  .s-410-4 {
    width: 33.33333% !important; }
  .s-410-6 {
    width: 50% !important; }
  .s-410-8 {
    width: 66.66667% !important; } }

@media (min-width: 570px) {
  .hide-for-570-up {
    display: none; }
  .s-570-6 {
    width: 50% !important; }
  .s-570-3 {
    width: 25% !important; } }

@media (min-width: 768px) {
  .m-768-full {
    width: 100% !important; }
  .m-768-2 {
    width: 16.66667% !important; }
  .m-768-3 {
    width: 25% !important; }
  .m-768-4 {
    width: 33.33333% !important; }
  .m-768-5 {
    width: 41.66667% !important; }
  .m-768-6 {
    width: 50% !important; }
  .m-768-7 {
    width: 58.33333% !important; }
  .m-768-8 {
    width: 66.66667% !important; } }

@media (max-width: 767px) {
  .show-for-768-up {
    display: none; } }

@media (min-width: 768px) {
  .show-for-768-up {
    display: block; }
  .hide-for-768-up {
    display: none; } }

@media (min-width: 960px) {
  .l-960-4 {
    width: 33.33333% !important; }
  .l-960-2 {
    width: 16.66667% !important; } }

@media (max-width: 569px) {
  .show-for-570-up {
    display: none; } }

* {
  box-sizing: border-box; }

.grid {
  max-width: 62.5rem;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .grid {
      padding: 1.25rem; } }
  .grid .grid {
    padding: 0; }
  .grid > *:not(:last-child) {
    padding-right: 0.31812rem; }
    @media (min-width: 768px) {
      .grid > *:not(:last-child) {
        padding-right: 1.25rem; } }

.center > * {
  margin-left: auto;
  margin-right: auto; }

r
.column {
  float: none !important; }

.row:after {
  content: '';
  display: block;
  clear: both; }

.row > * {
  float: left; }
  .row > *:last-child:not(:first-child) {
    float: right; }

.s-full {
  width: 100%;
  margin-bottom: 1rem; }

.s-2 {
  width: 16.66667%; }

.s-3 {
  width: 25%; }

.s-4 {
  width: 33.33333%; }

.s-5 {
  width: 41.66667%; }

.s-6 {
  width: 50%; }

.s-7 {
  width: 58.33333%; }

.s-8 {
  width: 66.66667%; }

.s-9 {
  width: 75%; }

.s-10 {
  width: 83.33333%; }

@media (max-height: 48rem) {
  .show-for-medium-up {
    display: none; } }

@media (min-width: 48rem) {
  .show-for-medium-up {
    display: block; }
  .m-full {
    width: 100%;
    margin-bottom: 1rem; }
  .m-2 {
    width: 16.66667%; }
  .m-3 {
    width: 25%; }
  .m-4 {
    width: 33.33333%; }
  .m-5 {
    width: 41.66667%; }
  .m-6 {
    width: 50%; }
  .m-7 {
    width: 58.33333%; }
  .m-8 {
    width: 66.66667%; }
  .m-9 {
    width: 75%; }
  .m-10 {
    width: 83.33333%; } }

/* Large screens */
@media (min-width: 60rem) {
  .l-full {
    width: 100%;
    margin-bottom: 1rem; }
  .l-2 {
    width: 16.66667%; }
  .l-3 {
    width: 25%; }
  .l-4 {
    width: 33.33333%; }
  .l-5 {
    width: 41.66667%; }
  .l-6 {
    width: 50%; }
  .l-7 {
    width: 58.33333%; }
  .l-8 {
    width: 66.66667%; }
  .l-9 {
    width: 75%; }
  .l-10 {
    width: 83.33333%; } }

#news header nav {
  background: none; }
  #news header nav a:link {
    color: inherit; }

#news header .appName {
  text-align: left; }

#news header .ribbon {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  #news header .ribbon .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  #news header .ribbon .download {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    #news header .ribbon .download .text {
      color: white; }
    #news header .ribbon .download button {
      margin: 0; }
    #news header .ribbon .download > * {
      margin-left: 10px; }
  #news header .ribbon .ball {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #FACD69;
    position: relative; }
    #news header .ribbon .ball > * {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

#news header nav {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  position: relative;
  color: #00AFF0;
  width: 100% !important; }
  #news header nav .icons {
    display: table;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0; }
    #news header nav .icons i {
      float: right;
      color: white; }
  #news header nav li {
    display: inline-block; }
    #news header nav li:not(:first-child) {
      margin-left: 10px; }

#news .text p:first-child {
  text-align: center; }

#news aside {
  padding-top: 6rem; }
  #news aside share {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #00AFF0; }
    @media (max-width: 850px) {
      #news aside share {
        font-size: 0.75em; } }

@media (min-width: 768px) {
  #news .assistance {
    padding-bottom: 0; }
  #news .tip {
    background: white;
    color: #00AFF0; }
    #news .tip svg * {
      fill: #00AFF0 !important; } }

#news .grid {
  padding: 0.624rem; }

#news main .title h2 {
  padding-bottom: 0.33333rem;
  color: #00AFF0; }

#news main .text p {
  padding-bottom: 0.5rem; }

#news main .noticia .title {
  padding-top: 2.5rem;
  padding-bottom: 1.75rem; }

#news main .noticia img {
  width: 100% !important;
  padding-bottom: 1rem; }

#news main .noticia .image {
  padding-right: 0; }

#news main .image {
  padding-bottom: 0.5rem; }

#news main .articles .grid {
  padding: 0; }

#news main .social {
  padding: 0;
  text-align: center;
  color: white;
  font-size: 1.1rem; }
  #news main .social a {
    padding-right: 0; }
    #news main .social a > * {
      padding: 0.25rem 0 0.25rem; }
  #news main .social .facebook {
    background: #3C5899; }
  #news main .social .whatsapp {
    background: #14AA0C; }
  #news main .social .google-plus {
    background: #DC4A3D; }
  #news main .social .twitter {
    background: #00B5F0; }

#news .assistance {
  padding-top: 0; }
  #news .assistance .image {
    padding-bottom: 0; }

.publisher-anchor-color a {
  color: #00AFF0 !important; }

#principal header {
  background: url("../images/pattern.png");
  text-align: center;
  position: relative;
  z-index: 0;
  overflow: hidden; }
  #principal header nav {
    padding-top: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem; }
    #principal header nav a:link, #principal header nav a:visited {
      color: white !important; }
    #principal header nav ul li {
      display: inline-block;
      color: white; }
      #principal header nav ul li:not(:first-child) {
        padding-left: 0.8rem; }
  #principal header .download {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 768px) {
      #principal header .download a {
        display: block; }
      #principal header .download button:first-child {
        margin-bottom: 1rem; } }
    @media (min-width: 768px) {
      #principal header .download.show-for-768-up {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  #principal header .guy {
    position: absolute;
    width: 70%;
    top: -43%;
    left: 9%;
    z-index: -1; }
    #principal header .guy img {
      position: relative; }
  #principal header > .grid {
    padding-top: 2rem; }
    #principal header > .grid > * {
      padding-bottom: 1rem;
      margin-top: 0; }
    #principal header > .grid button {
      margin-bottom: 0; }
      @media (min-width: 768px) {
        #principal header > .grid button {
          color: white; } }
      @media (min-width: 48rem) {
        #principal header > .grid button {
          background: none;
          border: 3px solid #FACD69; } }

#principal main .text {
  padding-top: 1rem; }
  #principal main .text p {
    padding-bottom: 1rem;
    line-height: 1.5; }

#principal main .media {
  padding: 0;
  position: relative; }
  @media (min-width: 768px) {
    #principal main .media {
      padding: 1.25rem;
      padding-top: 4rem;
      padding-bottom: 4rem; }
      #principal main .media .text {
        position: absolute;
        padding-top: 0;
        left: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #00AFF0;
        padding-left: 0.5rem;
        padding-right: 0.5rem; } }
  #principal main .media .video iframe {
    height: 16rem; }
    @media (min-width: 510px) and (max-width: 768px) {
      #principal main .media .video iframe {
        height: 19rem; } }
  @media (max-width: 768px) {
    #principal main .media .video {
      padding: 0;
      margin: 0; } }

#principal main .carrossel {
  position: relative;
  margin-bottom: 3rem svg;
    margin-bottom-padding-bottom: 0.5rem; }
  #principal main .carrossel .carrosel-1 .text {
    left: 58.33333%; }
    @media (min-width: 1100px) {
      #principal main .carrossel .carrosel-1 .text {
        left: 53.33333%; } }
    @media (min-width: 1300px) {
      #principal main .carrossel .carrosel-1 .text {
        left: 49.33333%; } }
  #principal main .carrossel .text {
    text-align: center;
    color: white; }
    @media (min-width: 768px) {
      #principal main .carrossel .text {
        position: absolute;
        top: 52%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 41.66667%;
        padding-right: 1.25rem; } }
    @media (min-width: 1100px) {
      #principal main .carrossel .text {
        left: 33.33333%; } }
    #principal main .carrossel .text p {
      line-height: 2rem;
      text-align: center;
      color: white;
      margin-bottom: 0; }

#principal main .app {
  padding-top: 4rem;
  margin-top: 3.5rem;
  text-align: right;
  color: #00AFF0;
  position: relative;
  padding-bottom: 0; }
  #principal main .app .text {
    position: absolute;
    top: 42%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    #principal main .app .text > * {
      padding-bottom: 0.5rem; }
  #principal main .app .buttons {
    padding-top: 1rem;
    width: 100%; }
    #principal main .app .buttons a {
      float: right;
      margin-left: 1rem;
      padding-right: 0; }
      #principal main .app .buttons a button {
        background: white;
        border: 3px solid #00AFF0;
        width: 100%;
        display: block;
        float: right;
        color: #00AFF0;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        padding-right: 0;
        padding-left: 0;
        margin-left: 1.25rem; }
  #principal main .app .image {
    position: relative;
    top: -12.5vh; }

#principal main .newsletter {
  color: #00AFF0;
  padding: 2rem 0;
  text-align: center; }
  #principal main .newsletter .title {
    margin-bottom: 1rem;
    padding: 0; }
  @media (min-width: 768px) {
    #principal main .newsletter {
      padding-top: 3rem;
      padding-bottom: 0;
      position: relative;
      top: -4rem;
      margin-bottom: -2rem; }
      #principal main .newsletter .texto {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 41.66667%; } }
    @media (min-width: 768px) and (min-width: 1100px) {
      #principal main .newsletter .texto {
        left: 33.33333%; } }
  #principal main .newsletter button {
    width: 100%;
    height: 3rem;
    margin-bottom: 0.5rem;
    border: 2px solid #00AFF0;
    background: none;
    color: inherit;
    text-transform: uppercase;
    font-family: boldRoboto; }

#principal main .training {
  position: relative;
  color: #00AFF0; }
  @media (min-width: 768px) {
    #principal main .training {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

@media (max-width: 768px) {
  #principal main .contact {
    background: #D3DBDD; } }

.carrossel .responda {
  padding-top: 1rem; }

.carrossel .desafie-amigos {
  padding-top: 2rem; }

share {
  display: block; }

#success {
  height: 100vh;
  background: #00AFF0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  #success .grid {
    color: white;
    text-align: center;
    margin: 0 auto; }
    #success .grid .retornar {
      margin-top: 1rem; }
      #success .grid .retornar a {
        font-family: boldRoboto;
        color: #FACD69;
        text-decoration: none; }

h1 {
  font-size: 1.618rem;
  font-family: droid; }

h3, p {
  font-size: 1rem; }

h3 {
  font-family: boldRoboto; }

.small-font {
  font-size: 0.618rem; }

@media (min-width: 410px) {
  html {
    font-size: 1rem; }
  body {
    line-height: 1.45; }
  p {
    margin-bottom: 1.3rem; }
  h1, h2, h3, h4 {
    margin: 1.414rem 0 0.5rem;
    font-weight: inherit;
    line-height: 1.2; }
  h1 {
    margin-top: 0;
    font-size: 2.441rem; }
  h2 {
    font-size: 1.953rem; }
  h3 {
    font-size: 1.563rem; }
  h4 {
    font-size: 1.25rem; }
  .lead {
    font-size: 1.25rem; }
  .small-font, .font_small {
    font-size: 0.8rem; } }

@font-face {
  font-family: 'droid';
  src: url("../typography/fonts/droid-serif/DroidSerif.eot");
  /* IE9 Compat Modes */
  src: url("../typography/fonts/droid-serif/DroidSerif.eot?#iefix") format("embedded-opentype"), url("../typography/fonts/droid-serif/DroidSerif.woff2") format("woff2"), url("../typography/fonts/droid-serif/DroidSerif.woff") format("woff"), url("../typography/fonts/droid-serif/DroidSerif.ttf") format("truetype"), url("../typography/fonts/droid-serif/DroidSerif.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'boldRoboto';
  src: url("../typography/fonts/roboto-bold/Roboto-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../typography/fonts/roboto-bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../typography/fonts/roboto-bold/Roboto-Bold.woff2") format("woff2"), url("../typography/fonts/roboto-bold/Roboto-Bold.woff") format("woff"), url("../typography/fonts/roboto-bold/Roboto-Bold.ttf") format("truetype"), url("../typography/fonts/roboto-bold/Roboto-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'roboto';
  src: url("../typography/fonts/roboto-regular/Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../typography/fonts/roboto-regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../typography/fonts/roboto-regular/Roboto-Regular.woff2") format("woff2"), url("../typography/fonts/roboto-regular/Roboto-Regular.woff") format("woff"), url("../typography/fonts/roboto-regular/Roboto-Regular.ttf") format("truetype"), url("../typography/fonts/roboto-regular/Roboto-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

.lead {
  text-transform: uppercase; }

* {
  font-family: roboto;
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  cursor: pointer; }
  a:link {
    text-decoration: none;
    color: inherit; }
  a:visited {
    color: inherit; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

body {
  margin: 0; }

main > *, footer > * {
  padding-top: 1rem;
  padding-bottom: 1rem; }

q {
  quotes: "“" "”" "‘" "’"; }
  q:before {
    content: open-quote; }
  q:after {
    content: close-quote; }

img, svg, iframe {
  max-width: 100%;
  height: auto;
  display: block; }

iframe {
  width: 100%; }

svg {
  padding: 0.3rem; }

button {
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  width: 100%;
  text-align: center; }

.download button {
  margin-bottom: 0.5rem;
  height: 3rem;
  border: none;
  font-size: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #FACD69;
  color: #00AFF0;
  font-size: 1rem; }
  .download button + span {
    line-height: 2.8rem; }

.appName {
  font-family: droid;
  color: #FACD69; }

.motto {
  color: white; }

.appName, .motto, .logo {
  text-align: center; }

.carrossel, .tip, footer, .ribbon {
  background: url("../images/pattern.png"); }

#mailchimp, #contact-page {
  position: relative;
  height: 100vh; }
  #mailchimp .exit, #contact-page .exit {
    position: absolute;
    right: 2rem;
    top: -0.7rem;
    font-size: 3rem;
    color: gray; }
  #mailchimp *, #contact-page * {
    font-size: 1.1rem; }
  #mailchimp form, #contact-page form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 34.25rem; }
    @media (min-width: 570px) {
      #mailchimp form, #contact-page form {
        width: 50%; } }
  #mailchimp input, #mailchimp textarea, #contact-page input, #contact-page textarea {
    width: 100%;
    border: 3px solid #00AFF0;
    color: #00AFF0;
    margin-bottom: 0.5rem;
    padding: 1rem; }
  #mailchimp textarea, #contact-page textarea {
    height: 9.5rem; }
  #mailchimp button, #contact-page button {
    padding: 0.5rem;
    color: white;
    background: #00AFF0;
    border-radius: 0; }

button.more {
  background: #00AFF0;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem; }
