share(title="{{title}}" url="{{url}}").social.grid.row.hide-for-768-up
  a.s-3(ng-click="shareCtrl.click('facebook')"): .facebook
    i.fa.fa-facebook
  a.s-3(ng-click="shareCtrl.click('twitter')"): .twitter
    i.fa.fa-twitter
  a.s-3(ng-href="whatsapp://send?text={{shareCtrl.whatsapp()}}"): .whatsapp
    i.fa.fa-whatsapp
  a.s-3(ng-click="shareCtrl.click('google-plus')"): .google-plus
    i.fa.fa-google-plus
