.cards#articles(ng-controller="CardsController")
  .grid.column.center
    categories.s-full
      span.category.small-font(ng-repeat="category in categories" ng-class="selectedCategories[category.id] ? 'selected' : ''" ng-click="click(category.id); search('category',selectedCategories)") {{category.name}}  
      input.s-4.search.small-font(placeholder="Buscar" ng-model="expression" ng-change="search('expression', expression);")
    .cards.hide-for-570-up      
      a(ng-repeat="post in posts" ng-href="/noticia/{{post.slug}}/{{post.id}}"): .card.grid.row
        picture-frame.s-4(src="images[post.id]")
        .s-8.article-info   
          h4.title {{post.title.rendered}}  
  masonry.grid.show-for-570-up      
    .grid-sizer
    .gutter
    .item(ng-repeat="post in posts" monitor="")
      h4.title {{post.title.rendered}}
      a(ng-href="/noticia/{{post.slug}}/{{post.id}}"): img(ng-if="images[post.id]" ng-src="{{images[post.id]}}")
      .footer
        span.date {{post.date | date:'dd/MM/yyyy'}}
        span.social
          share(title="{{post.title.rendered}}" relative-url="/noticia/{{post.slug}}/{{post.id}}")
            a(ng-click="shareCtrl.click('facebook')"): .facebook
              i.fa.fa-facebook
            a(ng-click="shareCtrl.click('twitter')"): .twitter
              i.fa.fa-twitter
             

