#mailchimp(ng-controller="historyController")
	.s-full
		form(action='/sucesso' method='POST')
			input(type="hidden" name="mailchimp")
			input(type="text" name="fname" required="required" placeholder="Nome") 
			input(type="email" required="required" name="email" placeholder="Email")
			button.s-4.m-768-3.l-960-2(type="submit" name="submit") enviar
		a.exit(ng-click="historyBack()") X
