footer{
  color:white;
  background: $c1;
  padding-bottom: 2*$hspace;
  position: relative;
   a:link{
      color:white;
    }

  @media(min-width: 570px){
    padding-bottom: $hspace;
  }

  .contato{
    padding-bottom: 0;
  }

  ul{
    line-height: 2*$hspace;

    li>i{
      margin-right: map-get($gutter, small);
    }
  }

  .download {
    padding-bottom: 0;
    
    a{
      display: block;

      &:first-child{
        margin-bottom: 0.5rem;
      }

    }  

    .store{
      position: relative;
      .invitation{
        position:absolute;
        top: 50%;
        transform:translateY(-50%);
      }
      button{
        margin-bottom: 0 !important;
        &+span{
          display: table;
        }

        
      }
    }

    

    &>.grid:last-child{
      margin-top: $hspace;
    }
  }

  .show-for-570-up{
    position: relative;  

    // .contato{
    //   position: absolute;
    //   top: 50%;
    //   transform: translateY(-50%);
    // }

    .appName, .motto, .logo{
      padding-bottom: 0.25*$hspace;
    }

    button{
      margin-top: 0.5*$hspace !important;
    }
  }

  @media(min-width: 768px){
    padding-bottom: 0;

    .show-for-768-up{
      &>*{
        position: relative;
      }

      form{
        width: 100%;
      }
    }

     

    .logo{
      
      img{
        margin-bottom: 0.5rem;
      }

      &>*{
        padding-right:0 !important;
      }

      .motto{
        padding-bottom: 0.4*$hspace;
      }

    }
  }


    


}

