$h1: 3.157rem;
$h2: 2.369rem;
$h3: 1.777rem;
$h4: 1.333rem;

html {
  font-size: 1rem;
}
body {
  background-color: white;
  font-weight: 1;
  line-height: 1.45;
  color: #333;
}
p {
  margin-bottom: 1.3rem;
}
h1,  h2,  h3,  h4 {
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
}
h4 {
  font-size: $h4;
}

.lead{
  font-size: $h4;
}

small,
.font_small {
  font-size: 0.75rem;
}
