#noticias{
  header{


    nav{
      padding-top: 1.1*$hsmall;
      padding-bottom: 1.1*$hsmall;
      &, ul{
        background: $c1;
      }
      ul{
        list-style:none;
        li{
          display:inline;
        }
      }
    }
    .nome-aplicativo{
      margin: 0;
      a{
        font-family: droid;
        color:$c2;
      }
    }

    .icons{
      position: relative;
      // top:5px;
      li{
        background:$c2;
        border-radius: 50%;
        width: 30px;
	      height: 30px;
        float:right;
        position: relative;
        top:1px;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
          position: relative;
          bottom:2px;
          color:$c1;
        }
      }
    }
  }
}
