#noticias{
  main{
    &>*:not(#secoes-comuns) {
      padding-bottom: $hsmall;
      padding-top: $hsmall;
    }

    

    .noticia{

      .titulo{
        h3{
          font-family: boldRoboto;
        }
      }

      .texto{
        margin-top: $hsmall;
        p{
          margin-bottom:$hsmall;
        }
      }
    }


    .social{
      &>*{
        display:flex;
        align-items: center;
        justify-content: center;
        padding:5px;
        font-size:1.5em;
        color:white;
      }

      .facebook{
        background: $facebook;
      }

      .instagram{
        background: $instagram;
      }

      .google-plus{
        background: $google-plus;
      }

      .whatsapp{
        background: $whatsapp;
      }

      .twitter{
        background: $twitter;
      }
    }

    .comentarios{
      .header{
        color:$c1;
        text-transform:uppercase;
        font-family: boldRoboto;
      }

      textarea, .enviar{
        margin-bottom: $hsmall;
        border:1px $c1 solid;
        border-radius: 5px;
      }

      textarea{
        resize:none;
        height:6*$hsmall;
      }
      .enviar{
        float:right;
        width:30%;
        color:$c1;
        padding:5px;
      }
    }
  }
}
