footer#contact
  .hide-for-570-up
    .addresses
      .grid.column
        ul.s-10.grid.column
          li
            i.fa.fa-facebook 
            span #[a(href="https://www.facebook.com/appdesafiodaordem")    facebook/appdesafiodaordem] 
          li
            i.fa.fa-instagram 
            span #[a(href="https://www.instagram.com/desafiodaordem" target="_blank") desafiodaordem] 
    .download    
      .grid.column.center
        .store.s-10.grid.row
          .s-4.invitation 
            span Baixe agora          
          .s-8
            a(href="https://goo.gl/uvUMMu"): button.center(
              ng-style="ctrl.buttons['apple'] ? {'display':'none'} : ''"
            )
              div
                i.icon-play 
                span Google Play
            a(href="https://goo.gl/Se2FcG"): button.center(
              ng-style="ctrl.buttons['android'] ? {'display':'none'} : ''"
            )
              div
                i.icon-apple 
                span Apple Store  

  .show-for-570-up.grid.row.hide-for-768-up
    .addresses.s-6.grid.center
      ul.s-10
        li
          i.fa.fa-facebook 
          span #[a(href="https://www.facebook.com/appdesafiodaordem")    facebook/appdesafiodaordem] 
        li
          i.fa.fa-instagram 
          span #[a(href="https://www.instagram.com/desafiodaordem" target="_blank") desafiodaordem] 
    .download.s-6.grid.center   
      .grid.center
        .logo.s-4
          img(src="#{imageFolder}/logo.png")
        h3.appName Desafio da Ordem
        h4.motto Encare esse desafio!    
        a(href="https://goo.gl/uvUMMu").s-8: button.center(
          ng-style="ctrl.buttons['apple'] ? {'display':'none'} : ''"
        )
          div
            i.icon-play 
            span Google Play
        a(href="https://goo.gl/Se2FcG").s-8: button.center(
          ng-style="ctrl.buttons['android'] ? {'display':'none'} : ''"
        )
          div
            i.icon-apple 
            span Apple Store
  .show-for-768-up.grid.row.first-half
    .logo.s-4.grid.center      
      .s-6
        img(src="#{imageFolder}/logo.png")
      h3.appName Desafio da Ordem
      h4.motto Encare esse desafio!
      .download.s-8 
        a(href="https://goo.gl/uvUMMu"): button.center(
          ng-style="ctrl.buttons['apple'] ? {'display':'none'} : ''"
        )
          div
            i.icon-play 
            span Google Play 
        a(href="https://goo.gl/Se2FcG"): button.center(
          ng-style="ctrl.buttons['android'] ? {'display':'none'} : ''"
        )
          div
            i.icon-apple 
            span Apple Store
    .s-8.grid.row.second-part   
      ul.s-6
        li
          i.fa.fa-facebook 
          span #[a(href="https://www.facebook.com/appdesafiodaordem")    facebook/appdesafiodaordem] 
        li
          i.fa.fa-instagram 
          span #[a(href="https://www.instagram.com/desafiodaordem" target="_blank") desafiodaordem] 
      .contact.s-6  
        include ../contact/contact   
