form{
  width: 100%;

  &:after{
    content:'';
    display: block;
    clear: both; 
  }

  ::placeholder{
    color:$c1 ;
  }

  input, textarea{
    width:100%;
    margin-bottom: $hspace;
    border: none;
    height:2*$hspace;
    padding-left:0.5*$hspace;
  }

  textarea{
    padding-top:0.5*$hspace;
    height:8*$hspace;
    resize:none;
  }


  .submit{
    float:right;

    button[type="submit"]{
      background: $c1;
      color:white;            
      font-family: boldRoboto;
      padding: 0.35rem;
      border-radius: 0;
    }
  }

  @media(min-width:768px){
    textarea{
      height: 6*$hspace;
    }
    
    .submit{
      button[type="submit"]{
        width: 3/$columns*100%;
        background: white;
        color:$c1;
        width: 100%;
      } 
    }

     
  }

}    

@media(max-width: 768px){
  .contact {
     background: $articles;
  }
}  

