$gutter: (
  small: 5.09px/16px * 1rem
);
$hspace: 1rem;
$columns: 12;

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.cell {
  flex: 1;
  &:not(:last-child) {
    margin-right: map-get($gutter, small);
  }
}
/* Alignment per row */
.children-top {
  align-items: flex-start;
}
.b {
  align-items: flex-end;
}
.c {
  align-items: center;
}
/* Alignment per cell */
.self-top {
  align-self: flex-start;
}
.self-bottom {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
/* Small screens */
.s-fit {
  flex: 1;
}
.s-full {
  flex: 0 0 100%;
  margin-bottom: $hspace;
}
.s-2 {
  $width: 2/$columns*100%;
  flex: 0 0 $width;
  flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
}
.s-3 {
  $width: 3/$columns*100%;
  flex: 0 0 $width;
  flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
}
.s-4 {
  $width: 4/$columns*100%;
  flex: 0 0 $width;
  flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
}
.s-5 {
  $width: 5/$columns*100%;
  flex: 0 0 $width;
  flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
}
.s-6 {
  $width: 6/$columns*100%;
  flex: 0 0 $width;
  flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
}
.s-7 {
  $width: 7/$columns*100%;
  flex: 0 0 $width;
  flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
}
.s-8 {
  $width: 8/$columns*100%;
  flex: 0 0 $width;
  flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
}
.s-9 {
  $width: 9/$columns*100%;
  flex: 0 0 $width;
  flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
}
.s-10 {
  $width: 10/$columns*100%;
  flex: 0 0 $width;
  flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
}
/* Small to medium screens */
@media (min-width: 24rem) {
  .m-fit {
    flex: 1;
  }
  .m-full {
    flex: 0 0 100%;
    margin-bottom: $hspace;
  }
  .m-2 {
    $width: 2/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .m-3 {
    $width: 3/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .m-4 {
    $width: 4/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .m-5 {
    $width: 5/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .m-6 {
    $width: 6/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .m-7 {
    $width: 7/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .m-8 {
    $width: 8/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .m-9 {
    $width: 9/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .m-10 {
    $width: 10/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
}
/* Large screens */
@media (min-width: 48rem) {
  .l-fit {
    flex: 1;
  }
  .l-full {
    flex: 0 0 100%;
    margin-bottom: $hspace;
  }
  .l-2 {
    $width: 2/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .l-3 {
    $width: 3/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .l-4 {
    $width: 4/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .l-5 {
    $width: 5/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .l-6 {
    $width: 6/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .l-7 {
    $width: 7/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .l-8 {
    $width:8/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .l-9 {
    $width: 9/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
  .l-10 {
    $width: 10/$columns*100%;
    flex: 0 0 $width;
    flex: 0 0 calc(#{$width} - #{map-get($gutter,small)});
  }
}
//Style for flex-direction: column
.column {
  flex-direction: column;
  &>.cell {
    margin-right: 0;
  }
  .self-left {
    align-self: flex-start;
  }
  .self-right {
    align-self: flex-end;
  }
  .s-full {
    width: 100%;
    margin-bottom: $hspace;
  }
  .s-2 {
    $width: 2/$columns*100%;
    width: $width;
    width: calc(#{$width} - #{map-get($gutter,small)});
  }
  .s-3 {
    $width: 3/$columns*100%;
    width: $width;
    width: calc(#{$width} - #{map-get($gutter,small)});
  }
  .s-4 {
    $width: 4/$columns*100%;
    width: $width;
    width: calc(#{$width} - #{map-get($gutter,small)});
  }
  .s-5 {
    $width: 5/$columns*100%;
    width: $width;
    width: calc(#{$width} - #{map-get($gutter,small)});
  }
  .s-6 {
    $width: 6/$columns*100%;
    width: $width;
    width: calc(#{$width} - #{map-get($gutter,small)});
  }
  .s-7 {
    $width: 7/$columns*100%;
    width: $width;
    width: calc(#{$width} - #{map-get($gutter,small)});
  }
  .s-8 {
    $width: 8/$columns*100%;
    width: $width;
    width: calc(#{$width} - #{map-get($gutter,small)});
  }
  .s-9 {
    $width: 9/$columns*100%;
    width: $width;
    width: calc(#{$width} - #{map-get($gutter,small)});
  }
  .s-10 {
    $width: 10/$columns*100%;
    width: $width;
    width: calc(#{$width} - #{map-get($gutter,small)});
  }
  /* Small to medium screens */
  @media (min-width: 24rem) {
    .m-full {
      width: 100%;
      margin-bottom: $hspace;
    }
    .m-2 {
      $width: 2/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .m-3 {
      $width: 3/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .m-4 {
      $width: 4/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .m-5 {
      $width: 5/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .m-6 {
      $width: 6/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .m-7 {
      $width: 7/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .m-8 {
      $width: 8/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .m-9 {
      $width: 9/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .m-10 {
      $width: 10/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
  }
  /* Large screens */
  @media (min-width: 48rem) {
    .l-full {
      width: 100%;
      margin-bottom: $hspace;
    }
    .l-2 {
      $width: 2/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .l-3 {
      $width: 3/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .l-4 {
      $width: 4/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .l-5 {
      $width: 5/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .l-6 {
      $width: 6/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .l-7 {
      $width: 7/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .l-8 {
      $width: 8/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .l-9 {
      $width: 9/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
    .l-10 {
      $width: 10/$columns*100%;
      width: $width;
      width: calc(#{$width} - #{map-get($gutter,small)});
    }
  }
}
