#principal {
  main {
    .text {
      padding-top: 1rem;
      p {
        padding-bottom: 1rem;
        line-height: 1.5
      }
    }
    .media {
      padding: 0;
      position: relative;
      @media(min-width: 768px) {
        padding: 1.25rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        .text {
          position: absolute;
          padding-top: 0;
          left: 6/$columns* 100%;
          top: 50%;
          transform: translateY(-50%);
          color: $c1;
          padding-left: 0.5rem;
          padding-right: 0.5rem
        }
      }
      .video {
        iframe {
          height: 16*$hspace;

          @media(min-width: 510px) and (max-width: 768px){
            height: 19rem;
          }

        }
        @media(max-width: 768px) {
          padding: 0;
          margin: 0;


        }
      }
    }
    .carrossel {
      position: relative;
      margin-bottom: 3rem svg {
        padding-bottom: 0.5rem;
      }
      .carrosel-1 {
        .text {
          left: 7/$columns*100%;
          @media(min-width: 1100px) {
            left: 53.33333%;
          }
          @media(min-width: 1300px) {
            left: 49.33333%
          }
        }
      }
      .text {
        text-align: center;
        color: white;
        @media(min-width: 768px) {
          position: absolute;
          top: 52%;
          transform: translateY(-50%);
          left: 5/$columns*100%;
          padding-right: 1.25rem;
        }
        @media(min-width: 1100px) {
          left: 4/$columns*100%;
        }
        p {
          line-height: 2*$hspace;
          text-align: center;
          color: white;
          margin-bottom: 0;
        }
      }
    }
    .app {
      padding-top: 4rem;
      margin-top: 3.5rem;
      text-align: right;
      color: $c1;
      position: relative;
      padding-bottom: 0;
      .text {
        position: absolute;
        top: 42%;
        transform: translateY(-50%);
        &>* {
          padding-bottom: 0.5*$hspace;
        }
      }
      .buttons {
        padding-top: $hspace;
        width: 100%;
        a {
          float: right;
          margin-left: 1rem;
          padding-right: 0;
          button {
            background: white;
            border: 3px solid $c1;
            width: 100%;
            display: block;
            float: right;
            color: $c1;
            padding-top: 0.6*$hspace;
            padding-bottom: 0.6*$hspace;
            padding-right: 0;
            padding-left: 0;
            margin-left: map-get($gutter, medium);
          }
        }
      }
      .image {
        position: relative;
        top: -12.5vh;
      }
    }
    .newsletter {
      color: $c1;
      padding: 2*$hspace 0;
      text-align: center;
      .title {
        margin-bottom: $hspace;
        padding: 0;
      }
      @media(min-width: 768px) {
        padding-top: 3rem;
        padding-bottom: 0;
        position: relative;
        top: -4*$hspace;
        margin-bottom: -2*$hspace;
        .texto {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 5/$columns*100%;
          @media(min-width: 1100px) {
            left: 4/$columns*100%;
          }
        }
      }
      button {
        width: 100%;
        height: 3*$hspace;
        margin-bottom: 0.5rem;
        border: 2px solid $c1;
        background: none;
        color: inherit;
        text-transform: uppercase;
        font-family: boldRoboto;
      }
    }
    .training {
      position: relative;
      color: $c1;    

      @media(min-width: 768px){
        align-items:center;
        display: flex;
      }

      .text {
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
      }
    }
    @media(max-width: 768px) {
      .contact {
        background: $articles;
      }
    }
  }
}

.carrossel{
  .responda{
    padding-top: 1rem;
  }
  .desafie-amigos{
    padding-top: 2rem;
  }
}
