#principal
  header
    .show-for-768-up
      .grid(style="position: relative;")
        include ../nav/nav
        .guy
          img.randomImage
    .grid.column.center
      .logo.s-6.s-380-4.s-570-3.m-768-2
        img(src="#{imageFolder}/logo.png")
      h1.appName Desafio da Ordem
      h3.motto Encare esse desafio
      .hide-for-768-up 
        .download.grid.column.center
          .google-play.s-8.s-410-6(
            ng-style="ctrl.buttons['apple'] ? {'display':'none'} : ''"
            ng-class="ctrl.buttons['android'] ? 'm-768-full' : ''"
          )
            a(href="https://goo.gl/uvUMMu"): button.center
              div
                i.icon-play
                span Google Play
          .apple-store.s-8.s-410-6(
            ng-style="ctrl.buttons['android'] ? {'display':'none'} : ''"
            ng-class="ctrl.buttons['apple'] ? 'm-768-full' : ''"
          )       
            a(href="https://goo.gl/Se2FcG"): button.center
              div
                i.icon-apple 
                span Apple Store
      .show-for-768-up      
        .download.grid.row.s-6.l-960-4
          .google-play.s-8.s-410-4.m-768-6(
              ng-style="ctrl.buttons['apple'] ? {'display':'none'} : ''"
              ng-class="ctrl.buttons['android'] ? 'm-768-full' : ''"
            )
            a(href="https://goo.gl/uvUMMu"): button.center
              div
                i.icon-play
                span Google Play
          .apple-store.s-8.s-410-4.m-768-6(
            ng-style="ctrl.buttons['android'] ? {'display':'none'} : ''"  
          )  
            a(href="https://goo.gl/Se2FcG"): button.center
              div 
                i.icon-apple 
                span Apple Store      
  main
    .media.grid.row
      .video.s-full.m-768-6
        iframe(src="https://www.youtube.com/embed/jkSXCkwn2ms?rel=0" frameborder="0" allowfullscreen="allowfullscreen")
      .text.show-for-768-up.m-768-6
        p.
          Reconhecidos advogados com mais de vinte anos de experiência, Suzane Nogueira e Gustavo Nogueira, especialista em Novos Direitos e doutor em Direito, respectivamente, atuam na área de educação, aplicação e ampliação de temas relacionados à advocacia. 
        p.
          Além da vertente docente de ambos, Suzane milita e atua na ampliação dos direitos humanos e dos animais. Já Gustavo, entre outras atividades, é autor de diversos livros de temas jurídicos, entre eles o elogiado “Precedentes Vinculantes no Direito Comparado Brasileiro”        
    .carrossel
      .hide-for-768-up
        .owl-carousel.owl-theme.grid
          div.center
            .imagem.s-10.s-410-6
              include ../../images/carrossel-3.svg
            p.text.s-10.s-410-8 #[span.lead Acompanhe] o seu desenvolvimento e fique cada vez mais perto da OAB!
          div.center.responda
            .imagem.s-8.s-410-6
              include ../../images/carrossel-2.svg
            p.text.s-10.s-410-8 #[span.lead Responda] uma grande variedade de questões sobre Direito
          div.center.desafie-amigos
            .imagem.s-10.s-410-6
              include ../../images/carrossel-1.svg
            p.text.s-10.s-410-8 #[span.lead Desafie] amigos para um embate com perguntas de múltipla escolha
      .show-for-768-up
        .owl-carousel.owl-theme
          div.center.grid.row       
            .imagem.s-5
              include ../../images/carrossel-3.svg
            .text.s-7      
              p #[span.lead Acompanhe] o seu desenvolvimento e fique cada vez mais perto da OAB!
          div.center.grid.row       
            .imagem.s-5
              include ../../images/carrossel-2.svg
            .text.s-7
              p #[span.lead Responda] uma grande variedade de questões sobre direito
          div.center.grid.row.carrosel-1       
            .imagem.s-7
              include ../../images/carrossel-1.svg
            .text.s-5
              p #[span.lead Desafie] amigos para um embate de pergutas multipla escolha    
    .app.grid.row.center.show-for-768-up     
        .text.s-6
          p.
            O aplicativo Desafio da Ordem, disponível gratuitamente na App Store
            e Play Store,  é uma ferramenta de perguntas e respostas de questões
            que caem no Exame de Ordem, da Ordem dos Advogados do Brasil (OAB),
            avaliação obrigatória prestada por bacharéis em Direito para exercício
            da profissão em todo o território nacional.
          p.
            Criado para contribuir com o aprendizado dos concorrentes, o app
            Desafio da Ordem oferece uma plataforma interativa com diversos temas
            como Direito Civil, Direito do Trabalho, Processo Civil, entre outros
          .buttons.grid.row.center 
            a.s-4(href="https://goo.gl/uvUMMu"): button
              i.icon-play
              span Google Play               
            a.s-4(href="https://goo.gl/Se2FcG"): button
              i.icon-apple
              span Apple Store
        .image.s-6
          img(src="#{imageFolder}/devices.png")
    .newsletter.a
      .hide-for-768-up.grid.column.center
        h3.lead.title Receba nossa Newsletter!
        .button.s-8.s-570-6 
          a(href="/inscricao") #[button  Inscreva-se!]
      .show-for-768-up.grid.row
        .imagem.s-5
          img(src="#{imageFolder}/girl.png") 
        .texto.s-7.grid.column.center
          h3.lead.title Receba nossa Newsletter!
          .button.s-8.s-570-6 
            a(href="/inscricao") #[button  Inscreva-se!]
    .articles
      include ../cards/cards
    .assistance  
      include ../assistance/assistance
    .training.grid.row.show-for-768-up
      .text.s-6
        p.
          Com a experiência conquistada ao longo dos anos, aliada ao estudo
          contínuo, Suzane e Gustavo Nogueira criaram a Coaching Nogueira,
          empresa especializada em coaching e mentoring com o objetivo de
          capacitar profissionais e alavancar carreiras no mercado jurídico.
        p.
          Cada vez mais forte em todo o Brasil e já consolidada no mundo,
          esse tipo de consultoria especializada busca aplicar lições para
          profissionais mais novos e com menos experiências (mentoring) e para
          quem busca aplicar seu aprendizado conquistado para alcançar novos degraus (coaching).
        a(href="https://goo.gl/5baw4d") #[button.more.s-full Saiba mais] 
      .image.s-5
        img(src="#{imageFolder}/whistle.png")
    .contact.hide-for-768-up
      .grid.column.center
        include ../contact/contact                  
  include ../footer/footer
  script.
    jQuery(document).ready(function(){
      jQuery('.owl-carousel').owlCarousel({
        center: true,
        items:1,
        dots: true,
        loop: true,
        autoplay:true,
        autoplayTimeout:5000,
        smartSpeed:800
      });
    }); 
        
          
