form.row
  .small-12.columns
    input.nome(placeholder="Nome" required)
  .small-12.columns  
    input.email(placeholder="Email" type="email" required)
  .small-12.columns  
    textarea.mensagem(placeholder="Mensagem" required)
  .small-12.columns  
    input(type="submit" value="ENVIAR")
