form.s-10(method="post" action="/sucesso")
	input(type="hidden" name="contact")
	input(placeholder="Nome" type="text" name="name")
	input(placeholder="Email" type="email" name="email")
	textarea(placeholder="Mensagem" name="message")
	.s-4.s-570-3.submit  
		button(type="submit" name="submit") Enviar