#contact-page(ng-controller="historyController")
	.s-full
		form(method="post" action="/sucesso")
			input(type="hidden" name="contact")
			input(placeholder="Nome" type="text" name="name")
			input(placeholder="Email" type="email" name="email")
			textarea(placeholder="Mensagem" name="message")
			button.s-4.m-768-3.l-960-2(type="submit" name="submit") Enviar				
		a.exit(ng-click="historyBack()") X