#secoes-comuns{
  &>* {
    padding-bottom: $hsmall;
    padding-top: $hsmall;
  }
  .newsletter {

    display: flex;
    align-items: center;
    color: $c1;

    .convite {
      font-size: 1.2em;
      text-align: left;
      .campo-inscricao {
        button {
          height: 2*$hsmall;
          text-transform: uppercase;
          text-align: center;
          width: 100%;
          margin: 0;
        }
      }
    }

  }
  .noticias {
    .categorias {
      * {
        display: inline;
      }
    }
    .cards {
      .item {
        .imagem {
          overflow: hidden;
          height: 4*$hsmall;
          background: url('../imagens/paisagem-1.jpg');
        }
      }
    }
  }
  .dica {
    background: $c1;
    padding-top: $hsmall;
    display:flex;
    justify-content: center;

    &>*{
      display:flex;
      align-items: center;
    }

    .texto {
      color: white;
      text-transform: uppercase;

      @media #{$small-only} {
        text-align: center;
      }


      p {
        font-family: boldRoboto;
        margin: 0;
      }
    }
    .imagem {
      margin-bottom: 0.5*$hsmall;
    }
  }
  .servicos {
    padding-top: $hsmall;
    color: $c1;
    &>* {
      margin-bottom: $hsmall;
      @media #{$medium-up} {
        display:flex;
        align-items: center;
        margin-bottom: 0;

        .texto{
          text-align: right;
        }
      }
      .row {
        display: flex;
        align-items: center;
        h5 {
          font-family: boldRoboto;
          text-transform: uppercase;
          margin-bottom: 0.005*$hsmall;
        }
        .texto {
          p {
            font-size: 0.9em;
            margin: 0;
          }
        }
      }
    }

  }


}
