#secoes-comuns
  .categorias-app.hide        
  .cards-noticias.hide
    .categorias.row
      ul.items.small-12.columns
        li.item Categoria 1
        li.item Categoria 2
        li.item Categoria 3
        li.item Categoria 3
        li.item Categoria 3
        li.item Categoria 3
        li.item Categoria 3
    .busca.row 
      .small-4.columns  
        input(placeholder="Buscar")
        
    .cards
      .row.item
        .imagem.small-4.columns
        .texto.small-8.columns
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, suscipit eius nisi!            
      .row        
      .row        
      .row
  .newsletter.row
    .imagem.small-6.columns
      .content
        img(src="#{imageFolder}/garota.png") 
    .convite.small-6.columns
        .texto
          .show-for-medium-up
            p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius odit tenetur nobis, animi ipsam doloremque.
            p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius odit tenetur nobis, animi ipsam doloremque.
        .campo-inscricao.botoes
          button ASSINAR
  .dica
    .row
      .imagem.small-2.small-offset-5.medium-offset-0.columns            
        img(src="#{imageFolder}/acropole.svg")  
      .texto.small-12.medium-10.columns
        p Dicas para concurso a serem atualizadas mensalmente
  .servicos
    .show-for-small-only.row  
      .coaching.small-12.columns
        .row
          .imagem.small-3.columns
            img(src="#{imageFolder}/balanca.svg")
          .texto.small-9.columns
            h5 Coaching
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.      
      .mentoring.small-12.columns
        .row      
          .imagem.small-3.columns
          img(src="#{imageFolder}/malhete.svg")
          .texto.small-9.columns
            h5 Mentoring
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    .show-for-medium-up.row      
      .texto.medium-6.columns.lead
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam deleniti vero fugiat assumenda. Commodi.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos hic error, odio alias necessitatibus voluptate.
      .imagem.medium-6.columns
        img(src="#{imageFolder}/apito.png")                
  .contato.show-for-small-only
    include ../../contato/contato.jade    
       
