nav.row
  ul.lead.social
    li.facebook
      a(href="https://www.facebook.com/appdesafiodaordem" target="_blank") #[i.fa.fa-facebook]    
    li.instagram
      a(href="https://www.instagram.com/desafiodaordem" target="_blank") #[i.fa.fa-instagram]
  ul.pages
    li #[a(href="/inscricao") Newsletter] 
    li #[a(href="/contato") Contato]