footer{
  background: $c1;
  padding-top: 2*$hsmall;
  padding-bottom: 2*$hsmall;
  display:flex;


  @media #{$medium-up} {
    &>*{
      display: flex;
      align-items: center;
    }
  }


  .aplicativo{

    text-align: center;

    .logo{
      margin-bottom: $hsmall;
      @media #{$medium-up} {
        margin-bottom: 0;
      }
    }


    .nome-aplicativo{
      font-family: droid;
      color: $c2;

      @media #{$medium-up} {
        margin-top: 0.5*$hlarge;
      }

      @media #{$small-only} {
        font-size: 1em;
        margin-bottom:.1*$hsmall;
      }


    }

    .mote{
      font-family:boldRoboto;
      font-size:0.9em;
      color:white;
    }

    .botoes{
      font-size:0.7em;
      font-family:boldRoboto;
      color:$c1;
      margin-top:0.3*$hsmall;


      button{
        height: 2*$hsmall;
        background:$c2;
        position: relative;

        @media #{$medium-up} {
          &:last-child{
            margin-left: 0;
          }
        }
      }

      :first-child{
        left:-3px;
      }

      :last-child{
        left:3px;
      }
    }
  }

  .institucional{
    $font-size: 0.85em;
    font-size: $font-size;


    &>*{

      margin-bottom: 0.5*$hsmall;


      @media #{$medium-up} {
        .mensagem{
          margin-top: $hlarge;
          font-size:  $font-size;

        }
      }

      :first-child{
        margin-right: 3px
      }
    }


    a{
      font-size: 1.4em;
      margin-left: 5px;
    }

    &, a{
      color:white;
    }

    @media #{$medium-up} {
      .contatos{
        li{
          span{
            margin-left: 0.2rem;
            font-size: 0.86rem;
          }
        }
      }
    }


  }

  .aplicativo, .institucional{
    border-right: 1px solid white;
  }

}
